fastapi
uvicorn
requests
python-dotenv
cryptography
langchain
langchain-community
langchain-text-splitters
langchain-mistralai
mistralai
langchain-anthropic
langchain-google-genai
langchain-openai
langchain-huggingface
langchain-core
sentence-transformers
faiss-cpu
pypdf
pytest
pydantic
typing-extensions
python-multipart
bcrypt
PyJWT
slowapi
